# Fichier contenant les variables d'environnement

# Informations liées à la base
###################################################################################

# Lien vers le fichier sqlite ou la base sql
DATABASE_URL="sqlite:sql/database.sqlite"

# Nom de la table où sont stockées les informations des utilisateurs
DB_USER_TBL="users"



# GitHub
####################################################################################

# Ces données sont fournies par GitHub quand vous avez créée l'application Oauth sur Github
CLIENT_ID=""
CLIENT_SECRET=""
REDIRECT_URL="
